.logo {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo form {
    text-align: center;
    margin: 24px;
}

.logo input {
    width: 460px;
    margin: 8px;
}

.logo textarea {
    width: 460px;
    margin: 8px;
}
